@import '../../common/global.css';

.navbar-user-profile {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.profile-pic {
  border-radius: 50%;
  margin: 5px 10px 5px 0;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-size: 16px;
  margin-left: 10px;
}

.profile-role {
  color: white;
  margin-top: 2px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.user-profile-dropdown {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.profile-preview-name {
  text-decoration: bold;
  color: #ffffff;
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.dropdown-pic {
  border-radius: 50%;
  height: 90px;
  width: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.dropdown-name {
  text-decoration: bold;
  color: #171923;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.dropdown-email {
  color: #718096;
  font-size: 16px;
}

.dropdown-role {
  color: #718096;
  font-size: 16px;
  padding-bottom: 12px;
}

.profileMenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signOutButton {
  position: relative;
}

@media (max-width: 1075px) {
  .profile-pic {
    display: block;
    height: 70%;
    margin-left: 0;
    border-radius: 50%;
  }
}

p {
  margin: 0;
}
