@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons > button {
  margin-right: 15px;
}

.pointsOfContact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

.pocTitle {
  margin-top: -0.05rem;
}

.mobileLower {
  margin-bottom: -50px;
}

.bottomEditButton {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.bottomPostEditButton {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

@media (max-width: 767px) {
  .facilityNameInput {
    margin-bottom: 0.5rem;
  }

  .addressInput {
    margin-bottom: 0.5rem;
  }

  .pointsOfContactContainer {
    margin-bottom: 90px;
  }

  .pocName {
    width: 100%;
  }

  .pocTitle {
    width: 100%;
  }

  .pocPhoneNumber {
    width: 100%;
  }

  .pocEmail {
    width: 100%;
  }

  .pocNameInput {
    margin-bottom: 0.5rem;
  }

  .pocTitleInput {
    margin-bottom: 0.5rem;
  }

  .pocPhoneNumberInput {
    margin-bottom: 0.5rem;
  }

  .pocEmailInput {
    margin-bottom: 2rem;
  }
}
