@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons > button {
  margin-right: 15px;
}
