@import '../../common/global.css';

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 24px;

  position: relative;
  width: 527.72px;
  height: 554.21px;
  left: 438px;
  top: 100px;
  background-color: white;
}
