.profile-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin-left: 10px;
}

.profilePic {
  height: 90px;
  width: 90px;
}

.profile-name {
  font-weight: 600;
}

.profile-role {
  font-size: 12px;
  font-weight: 200;
}

button {
  padding-left: 10px;
}

.navbar-user-profile {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 15px;
}

.user-profile-dropdown {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.profile-name {
  text-decoration: bold;
  color: #171923;
  font-size: 18px;
  padding-bottom: 8px;
}

.profile-name-button {
  text-decoration: bold;
  color: #ffffff;
  padding-bottom: 2px;
}

.email {
  color: #718096;
}

.role {
  color: #718096;
  padding-bottom: 15px;
}

.navbar-user-profile button {
  background: rgba(195, 203, 219, 0.1);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.navbar-user-profile button:hover {
  background: none;
}

.menuPic {
  padding-top: 15px;
  padding-bottom: 15px;
}

.profileMenuButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signOutButton {
  background-color: #21307a !important;
  width: 272px !important;
  position: relative;
  border-radius: 10px !important;
}

/* .navbar-user-profile img {
  width: 23%;
  border-radius: 50%;
  margin-right: 10px;
} */
