.error_h1 {
  margin-block: 0;
  line-height: "120px";
}
.error_h2 {
  margin-block: 0;
  white-space: nowrap;
  line-height: "60px";
}
.error_h4 {
  margin-block: 0;
}

@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .window {
    padding: 172px 0;
  }
}
