.reset-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reset-info-text {
  margin: 0;
}

.reset-passwords-container {
  align-self: center;
  gap: 2vh;
  display: flex;
  flex-direction: column;
}

.reset-input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vh;
}

.reset-submit-button {
  align-self: center;
  background-color: #21307a;
  color: white;
}
