@import '../../common/global.css';

.reset_password_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.reset_info_text {
  margin: 0;
}

.reset_passwords_container {
  align-self: center;
  gap: 2vh;
  display: flex;
  flex-direction: column;
}

.reset_input_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vh;
}

.reset_submit_button {
  align-self: center;
  background-color: var(--cds-blue-1);
  color: white;
}

.login_page {
  height: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.information {
  background-color: var(--cds-blue-1);
  width: 100%;
  height: auto;
  flex-direction: column;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.dog_army {
  width: 350px;
  height: 350px;
  margin: 20px;
}

.login {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cds_logo_horizontal_4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  height: auto;
}

.cds_logo_horizontal_5 {
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  height: auto;
}
