/* Text Styles */

@font-face {
  font-family: 'Quicksand';
  src: url('../assets/fonts/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../assets/fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans Semibold';
  src: url('../assets/fonts/NotoSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('../assets/fonts/NotoSerif-Regular.ttf');
}

/* Header 1 */
h1 {
  font-size: 6em;
  font-family: 'Quicksand';
}

/* Header 2 */

/* Header 3 */

/* Header 4 */

/* Buttons */

/* Main */
main {
  font-size: 1em;
  font-family: 'Noto Sans';
}

/* Accent */



/* Color Styles */

:root {
  --cds-blue-1: #21307A;
  --cds-blue-2: #C3CBDB;
}
